@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

html, body {
  background-color: #010205;
  color: #f4f1ec;
}

.colour-white {
  color: #f4f1ec
}

.jumbotron {
  background-color: #060915;
}

.code-green {
  color: #00CD00;
}

code, .monospace {
  font-family: 'Inconsolata', monospace;
}

/* unvisited link */
a {
   min-height: 50px;
   width: 300px;
   margin: 0 32px;
}

a.text-only {
  height: 100%;
  width: auto;
  margin: 0;
  color: #00CD00
}

a.text-only:hover {
  color: #00CD00;
}

.button-link {
  background-color: #00CD00;
  color: #fefefe;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 6px 6px 10px rgba(21, 20, 37, 0.1);
  border-radius: 6px;
}

/* visited link */
.button-link:visited {
  color: #fefefe;
  text-decoration: none;
  background-color: #00CD00;
}

/* mouse over link */
.button-link:hover {
  color: #efefef;
  text-decoration: none;
  background-color: #00CD00;
  box-shadow: 6px 6px 10px rgba(21, 20, 37, 0.3);
  transform: translateY(-2px);
}

.button-link:active {
  box-shadow: 6px 6px 10px rgba(21, 20, 37, 0.01);
  transform: translateY(0px);
}

.nav-item.nav-link {
  border-radius: 6px 6px 0 0;
  color: #00CD00;
}

.nav {
  display: block;
}

.nav-tabs > a {
  float: none;
  display: inline-block;
  zoom: 1;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fefefe;
  background-color: #010205;
  border-color: #1d2833 #1d2833 #1c1c1c #1d2833;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #1b2632 #1b2632 #1d2833 #1b2632
}

.nav-tabs {
  text-align: center;
  border-bottom-color: #1d2833;
}

@media (max-width: 767.98px) {
  .hidden-sm {
    display: none;
  }
}

.blink-me {
  animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
